---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Tag from './Tag.astro';

interface Props {
    story: CollectionEntry<'stories'>;
}

const { story } = Astro.props;
const { title, description, pubDate, tags } = story.data;
---


<!-- <a href={`/stories/${story.id}/`} class="story-card">
    <card>
        <FormattedDate date={pubDate} />
        <h4>{title}</h4>
        <span class="description">{description}</span>
    </card>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
    </svg>
</a> -->

<a class="story-card" href={`/stories/${story.id}/`}>
    <div class="grow">
        <h4>
            {title}
        </h4>
        
        <FormattedDate date={pubDate} />
        
        {description && <div class="description">{description}</div>}
    </div>
</a>

<style>
a.story-card {
    display: flex; 
    gap: var(--s2); 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-block-end: var(--s2);
    text-decoration: none;
    padding: var(--s-1);
    border-radius: var(--s-4);
}

a.description, a.time {
    text-decoration: none;
    border: 0;
}

.story-card:hover h4 {
    color: var(--color-accent);
}

.story-card .arrow {
    display: none;
    color: var(--color-text);
    font-style: italic; 
    transition-duration: 300ms; 
    opacity: 0; 
}

.story-card:hover .arrow {
    opacity: 1; 
    display: inline-block;

}

.story-card:hover {
    display: flex;
    align-items: center;
    gap: var(--s1);
    color: var(--color-text);
    background-color: var(--color-background-muted);
    border: 1px solid var(--color-accent);
}

.story-card :global(time),
.story-card .description {
    text-decoration: none;
    color: var(--color-text-muted);
    font-style: italic;
    font-size: var(--s-1);
}

.story-card svg {
    position: absolute; 
    right: 0.75rem; 
    top: 50%; 
    transform: translateY(-50%);
    color: var(--color-text-muted); 
    transition: transform 0.3s ease;
}


.story-card card {
    display: flex; 
    flex-direction: column; 
    flex: 1 1 0%; 
    overflow: hidden;
    gap: 0.25rem;
}

.story-card :global(time) {
    color: var(--color-text-muted);
    font-style: italic;
    font-size: var(--s-1);
}

.story-card .description {
    text-style: normal;
}
</style>