---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import { AUTHOR } from '../profile';

type Props = CollectionEntry<'stories'>['data'];

const { title, description, pubDate, updatedDate, ogImage } = Astro.props;
---

<BaseLayout title={title} description={description} image={ogImage}>
<article>
<h2>{title}</h2>
						<span>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</span>
						<slot />
</article>
</BaseLayout>